NODE_ENV=""
PORT=8080
DATABASE_URL=""
REDIS_URL=""
CLIENT_URL=""

ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRY=""
REFRESH_TOKEN_EXPIRY=""

SMTP_HOST=""
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""
SMTP_SECURE="false"

CREDENTIAL_ENCRYPTION_KEY=""